
    <header>
        <nav class="header">
          <input type="checkbox" id="check" />
          <label for="check" class="header-menu">
            <i class="fas fa-bars"></i>
          </label>
          <!-- <div class="header-logo">
            <img src="https://png.pngtree.com/png-clipart/20190611/original/pngtree-wolf-logo-png-image_2306634.jpg" alt="" />
          </div> -->
          <div class="header-bgTitle"></div>
          <div class="header-title">
            <div class="scroll">
              <ul class="list-title">
                <!-- <li class="list-item">
                  <a class="item-title" href="./index.html">HOME</a>
                </li> -->
                <li class="list-item">
                  <a class="item-title" href="../pages/ChiTietGiaoHang.html">Chi tiết giao hàng</a>
                </li>
                <li class="list-item">
                  <a class="item-title" href="../pages/DanhSachBaoGia.html">Báo giá</a>
                </li>
                <li class="list-item ">
                    <a class="item-title" href="../pages/TonKho.html">Tồn Kho</a>
                </li>
                <li class="list-item">
                  <a class="item-title" href="../pages/TaiTheoKhachHang.html">Tải theo khách hàng</a>
                </li>
                
                <li class="list-item">
                  <a class="item-title" href="../pages/CongNo.html">Công nợ</a>
                </li>
                <!-- <li class="mobile-item">
                  <a class="item-title" href="">Đăng nhập</a>
                </li>
                <li class="mobile-item">
                  <a class="item-title" href="">Tài khoản</a>
                </li>
                <li class="mobile-item">
                  <a class="item-title" href="">Đăng xuất</a>
                </li> -->
                
              </ul>
            </div>
          </div>
          <div class="header-icon">
            <ul class="list-icon">
              <li class="search-icon">
                <img src="../imgs/icons/search.svg" alt="" />
              </li>
              
              <li class="profile-icon">
                  <img src="../imgs/icons/profile.svg" alt="" />
              </li>
              <div id="info-block">
                <ul>
                  <li><a id="btnLogin" href="./login.html">Login</a></li>
                  <li><a id="btnSignup" href="./signup.html">Signup</a></li>
                </ul>
              </div>
            </ul>
          </div>
        </nav>
      </header>
